@charset "UTF-8";
.button-primary {
  background-color: #68b738;
}

.button-secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.main-header {
  background-color: #ffffff;
  color: #ffffff;
  min-height: 65px;
}

.main-header__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-header__logo {
  width: 65px;
  height: 65px;
}

.main-header__logo-image {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.main-header__logo-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 23px;
}

@media (min-width: 768px) {
  .main-header__logo-text {
    margin-left: 12px;
  }
  .main-header__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-header__logo-image-text {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-header__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
  .main-header__logo-text {
    margin-left: 12px;
  }
}
/* Состояния ссылок/элементов */
@media (min-width: 1200px) {
  .main-header__wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main-header__logo:hover {
    opacity: 0.8;
  }
  .main-header__logo:active {
    opacity: 0.6;
  }
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: relative;
  margin-bottom: 20px;
}

.promo__cat-wrapper {
  position: relative;
  width: 100%;
  height: 320px;
  background-color: #68b738;
  box-sizing: border-box;
}

.promo__cat-background {
  position: absolute;
  opacity: 20%;
  width: 100%;
  height: 100%;
  background-image: -webkit-image-set(url("../img/main-page/promo/background-cat-mobile.webp") 1x, url("../img/main-page/promo/background-cat-mobile@2x.webp") 2x);
  background-image: image-set(url("../img/main-page/promo/background-cat-mobile.webp") 1x, url("../img/main-page/promo/background-cat-mobile@2x.webp") 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__title {
  z-index: 1;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 25px;
}

.promo__slogan {
  z-index: 1;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
}

.promo__button {
  z-index: 1;
  display: block;
  margin: 0 auto;
  padding: 7px 14px;
  min-height: 40px;
}

.promo__product {
  z-index: 1;
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 130px;
}

.promo__button-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 767px) {
  .promo__button {
    justify-self: center;
    min-width: 280px;
    max-width: 400px;
  }
  .promo__wrapper {
    position: relative;
  }
  .promo__title {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .promo__slogan {
    margin-top: 124px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .promo__product {
    position: absolute;
    z-index: 2;
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-top: -260px;
    left: 50%;
    transform: translateX(-50%);
  }
  .promo__cat-wrapper {
    margin-bottom: 138px;
  }
}
@media (min-width: 768px) {
  .promo__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .promo__cat-wrapper {
    display: none;
  }
  .promo__title {
    z-index: 2;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    margin: 0;
    margin-left: 87px;
    margin-bottom: 41px;
    margin-top: 64px;
  }
  .promo__slogan {
    z-index: 2;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
    margin-left: 87px;
    margin-bottom: 50px;
  }
  .promo__product {
    position: absolute;
    width: 709px;
    height: 609px;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    left: 0;
    right: 0;
  }
  .promo__button {
    margin-left: 87px;
    margin-bottom: 500px;
    min-width: 244px;
    max-width: 350px;
    padding: 14px 26px;
    min-height: 54px;
  }
  .promo__button-text {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .promo__wrapper {
    padding-top: 0;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1440px;
  }
  .promo__title {
    margin-left: 160px;
    margin-top: 111px;
  }
  .promo__slogan {
    margin-left: 160px;
  }
  .promo__button {
    margin-left: 160px;
    margin-bottom: 180px;
  }
  .promo__product {
    position: absolute;
    width: 552px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    top: 27%;
    transform: translateY(-50%);
    left: 16%;
    right: 0;
  }
  .promo__cat-wrapper {
    display: block;
    position: absolute;
    top: -15%;
    right: 0;
    width: 720px;
    height: 700px;
    background-color: rgba(104, 183, 56, 0.85);
  }
  .promo__cat-background {
    opacity: 50%;
    width: 720px;
    height: 700px;
    background-image: -webkit-image-set(url("../img/main-page/promo/background-cat-desktop.webp") 1x, url("../img/main-page/promo/background-cat-desktop@2x.webp") 2x);
    background-image: image-set(url("../img/main-page/promo/background-cat-desktop.webp") 1x, url("../img/main-page/promo/background-cat-desktop@2x.webp") 2x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}
.goals__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.goals__weight-goals {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.goals__item {
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.goals__item-title {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.goals__item-title-slim {
  margin-top: 21px;
  margin-left: 23px;
}

.goals__item-title-pro {
  margin-top: 24px;
  margin-left: 13px;
}

.goals__image {
  display: inline-block;
}

.goals__image-slim {
  margin-right: 19px;
}

.goals__image-pro {
  margin-right: 11px;
}

.goals__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
}

.goals__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 38px;
}

.goals__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 4px 0;
  margin-left: 20px;
  margin-bottom: 18px;
}
.goals__link:active {
  opacity: 0.3;
}

.goals__link-catalog {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 4px 0;
  margin-right: 15px;
}

.goals__link-icon {
  display: inline-block;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .goals__item {
    position: relative;
  }
  .goals__item::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #d9d9d9;
    margin: 0 auto;
    margin-top: -20px;
    width: 93%;
  }
}
@media (min-width: 768px) {
  .goals__wrapper {
    margin: 0 auto;
    margin-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .goals__weight-goals {
    display: flex;
    flex-direction: column;
  }
  .goals__item {
    position: relative;
    min-height: 372px;
    padding: 77px 300px 53px 52px;
  }
  .goals__image {
    display: block;
    margin: 0;
    padding: 0;
  }
  .goals__image-slim {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6%;
    width: 200px;
    height: 200px;
  }
  .goals__image-pro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    width: 268px;
    height: 200px;
  }
  .goals__link {
    margin: 0;
    padding: 0;
  }
  .goals__description {
    max-width: 340px;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
  }
  .goals__link-catalog {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  .goals__title {
    display: inline-block;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .goals__wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    margin-bottom: 71px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .goals__weight-goals {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .goals__image-slim {
    position: static;
    transform: none;
    width: 100px;
    height: 106px;
    margin-right: 62px;
  }
  .goals__image-pro {
    position: static;
    transform: none;
    width: 134px;
    height: 100px;
    margin-right: 47px;
  }
  .goals__item {
    display: flex;
    flex-direction: column;
    min-height: 372px;
    width: 570px;
    padding: 0;
  }
  .goals__item-title {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
    margin-right: 35px;
  }
  .goals__description {
    max-width: 440px;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 52px;
    margin-right: 61px;
    margin-bottom: 23px;
  }
  .goals__item-title-slim {
    margin-top: 41px;
    margin-left: 52px;
  }
  .goals__item-title-pro {
    margin-top: 47px;
    margin-left: 33px;
  }
  .goals__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }
  .goals__link {
    display: flex;
    align-items: center;
    margin-left: 52px;
    padding-bottom: 55px;
    margin-top: auto;
  }
  .goals__link-catalog {
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-right: 25px;
  }
}
.work__wrapper {
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.work__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.work__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.work__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.work__item-icon-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 60px;
  min-height: 60px;
  background-color: #68b738;
}

.work__item-icon {
  align-self: center;
  margin: auto;
  vertical-align: middle;
}

.work__item-description {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: 768px) {
  .work__wrapper {
    margin: 0;
    margin-bottom: 47px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .work__title {
    font-size: 60px;
    line-height: 60px;
  }
  .work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 37px;
  }
  .work__item:nth-child(2n) {
    justify-self: center;
  }
  .work__item {
    display: flex;
    flex-direction: column;
    gap: 31px;
    justify-items: flex-start;
    min-height: 280px;
    width: 250px;
  }
  .work__item-1 {
    background-image: url("../img/main-page/work/1.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  .work__item-2 {
    background-image: url("../img/main-page/work/2.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  .work__item-3 {
    background-image: url("../img/main-page/work/3.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  .work__item-4 {
    background-image: url("../img/main-page/work/4.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  .work__item-icon-wrapper {
    margin-top: 30px;
    min-width: 80px;
    min-height: 80px;
    align-self: flex-start;
  }
  .work__item-description {
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
}
@media (min-width: 1200px) {
  .work__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 136px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .work__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.example {
  background-color: #eaeaea;
}

.example__wrapper {
  padding: 25px 20px;
}

.example__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__content-description {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style-type: none;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 32px;
}

.example__list-item {
  min-width: 124px;
}

.example__list-expenses {
  grid-column-start: 1;
  grid-column-end: 3;
}

.example__fieldset-content {
  transform: rotate(180deg);
}

.example__fieldset-title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  transform: rotate(180deg);
}

.example__fieldset-content-text {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  transform: rotate(180deg);
}

.example__content-expenses {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.example__cat-slider {
  width: 280px;
  height: 256px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-image: url("../img/main-page/example/tablet-slide-before.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* Нужно ли мне адаптировать контентные изображения слайдера, если его не получится сделать без js и в ближайшее время он не понадобится?  */
}

.example__cat-slider-button {
  display: block;
  margin: auto;
}

@media (min-width: 768px) {
  .example__wrapper {
    background-color: #ffffff;
  }
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
  .example__content-description {
    font-size: 16px;
    line-height: 24px;
  }
  .example__list {
    grid-template-columns: 1fr 1fr 2fr;
    gap: 32px;
  }
  .example__list-expenses {
    grid-column-start: 3;
    align-self: center;
    justify-self: end;
    width: 250px;
  }
  .example__fieldset-title {
    font-size: 14px;
    line-height: 14px;
  }
  .example__fieldset-content-text {
    font-size: 30px;
    line-height: 37px;
  }
  .example__content-expenses {
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
  .example__cat-slider {
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 1200px) {
  .example {
    background-color: #f2f2f2;
  }
  .example__wrapper {
    background-color: #f2f2f2;
    position: relative;
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .example__content {
    width: 436px;
    min-height: 317px;
  }
  .example__title {
    margin: 0;
    margin-top: -136px;
    margin-bottom: 121px;
  }
  .example__list {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .example__list-expenses {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    justify-self: start;
    width: 250px;
  }
  .example__content-expenses {
    white-space: nowrap;
  }
  .example__cat-slider {
    position: absolute;
    width: 560px;
    height: 512px;
    left: 55%;
    top: 0;
    margin: 0;
    margin-top: -136px;
  }
}
.location__wrapper {
  background-color: #ffffff;
}

.location__invite {
  padding: 20px;
  box-sizing: border-box;
}

.location__invite-list {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location__invite-item {
  width: 140px;
  min-height: 60px;
  text-align: left;
}

.location__invite-title {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.location__invite-contacts {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.location__map {
  width: 100%;
  height: 362px;
}

.location__map-pin-image {
  position: absolute;
  left: 47.88%;
  right: 40.31%;
  top: 38.4%;
  bottom: 46.96%;
}

.location iframe {
  display: block;
  border: none;
}

@media (min-width: 768px) {
  .location__invite {
    width: 100%;
    padding: 56px 70px;
  }
  .location__invite-list {
    max-width: none;
  }
  .location__invite-item {
    width: 170px;
  }
  .location__invite-title {
    font-size: 20px;
    line-height: 26px;
  }
  .location__invite-contacts {
    font-size: 16px;
  }
  .location__map {
    width: 100%;
    height: 400px;
    background-image: url("../img/main-page/location/map-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
  }
  .location__map-pin-image {
    width: 113px;
    height: 106px;
    position: absolute;
    left: 43.36%;
    right: 41.93%;
    top: 36.5%;
    bottom: 37%;
  }
}
@media (min-width: 1200px) {
  .location__wrapper {
    position: relative;
  }
  .location__invite {
    background-color: #ffffff;
    z-index: 2;
    padding: 56px 80px;
    width: 565px;
    min-height: 198px;
    position: absolute;
    left: 7.64%;
    right: 53.12%;
    top: 23.75%;
    bottom: 26.75%;
  }
  .location__map {
    width: 100%;
    height: 400px;
    background-image: url("../img/main-page/location/map-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
  }
  .location__map-pin-image {
    position: absolute;
    left: 63.06%;
    right: 29.1%;
    top: 32.75%;
    bottom: 40.75%;
  }
}
.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.main-footer__logo {
  margin-top: 19px;
  margin-bottom: 52px;
  display: flex;
  justify-content: center;
}

.main-footer__logo-image {
  margin: 0;
  padding: 0;
  display: block;
}

.main-footer__socials {
  margin: 0 auto;
}

.main-footer__copyright {
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main-footer {
    padding: 57px 30px;
  }
  .main-footer__wrapper {
    padding: 0;
    display: flex;
  }
  .main-footer__logo {
    margin: 0;
    display: block;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding: 57px 110px;
  }
}
.assortment__wrapper {
  background-color: #ffffff;
  margin-bottom: 50px;
}

.assortment__title {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.assortment__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 19px;
}

@media (max-width: 767px) {
  .assortment__wrapper {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
}
@media (min-width: 768px) {
  .assortment__wrapper {
    padding: 30px;
  }
  .assortment__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-left: 0;
    margin-bottom: 163px;
  }
  .assortment__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 60px;
    row-gap: 141px;
  }
}
@media (min-width: 1200px) {
  .assortment__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
  }
  .assortment__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-template-columns: repeat(4, 245px);
    gap: 0;
    grid-row-gap: 144px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.additional__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}

.additional__item {
  margin: 0;
}

.additional__title {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
}

.additional__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional__subtitle {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.additional__description {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.additional__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.additional__description-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #444444;
}

.additional__description-price {
  text-align: right;
}

.additional__content-and-gift {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.additional__gift {
  position: relative;
  width: 280px;
  height: 290px;
  background-color: #68b738;
  margin: 0 auto;
  box-sizing: border-box;
}

.additional__gift-cat {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-image-set(url("../img/catalog/gift/mobile-cat.png") 1x, url("../img/catalog/gift/mobile-cat@2x.png") 2x);
  background-image: image-set(url("../img/catalog/gift/mobile-cat.png") 1x, url("../img/catalog/gift/mobile-cat@2x.png") 2x);
  background-size: cover;
  opacity: 20%;
}

.additional__gift-content {
  padding-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional__gift-icon {
  display: inline-block;
  z-index: 5;
  width: 78px;
  height: 80px;
  margin-bottom: 48px;
}

.additional__gift-description {
  margin: 0;
  padding: 0;
  z-index: 5;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}

@media (max-width: 767px) {
  .additional__item {
    position: relative;
  }
  .additional__item::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #cdcdcd;
    margin: 0 auto;
    margin-top: -13px;
    width: 100%;
  }
  .additional__item:last-child::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #cdcdcd;
    margin: 0 auto;
    margin-top: 19px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .additional__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 69px;
  }
  .additional__title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-align: left;
    color: #000000;
    margin-bottom: 80px;
  }
  .additional__item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .additional__description {
    justify-content: right;
    align-items: center;
  }
  .additional__list {
    padding: 28px 38px;
    border: 1px solid #cdcdcd;
  }
  .additional__item:not(:last-child) {
    position: relative;
  }
  .additional__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #cdcdcd;
    margin: 0 auto;
    margin-top: 17px;
    width: 100%;
  }
  .additional__content-and-gift {
    display: flex;
    flex-direction: column;
    gap: 69px;
  }
  .additional__gift {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #68b738;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .additional__gift-cat {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-image-set(url("../img/catalog/gift/tablet-cat.png") 1x, url("../img/catalog/gift/tablet-cat@2x.png") 2x);
    background-image: image-set(url("../img/catalog/gift/tablet-cat.png") 1x, url("../img/catalog/gift/tablet-cat@2x.png") 2x);
    background-size: cover;
    background-position: center 60%;
    opacity: 20%;
  }
  .additional__gift-content {
    width: 80%;
    margin-left: 77px;
    margin-top: 57px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-self: center;
  }
  .additional__gift-icon {
    display: inline-block;
    z-index: 5;
    width: 80px;
    height: 82px;
    margin-bottom: 0;
  }
  .additional__gift-description {
    margin: 0;
    padding: 0;
    z-index: 5;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .additional__wrapper {
    padding: 0;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 86px;
    max-width: 1440px;
  }
  .additional__list {
    width: 100%;
    padding: 16px 0;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
  .additional__item {
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  .additional__item:not(:last-child) {
    position: relative;
  }
  .additional__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #cdcdcd;
    margin: 0 auto;
    margin-top: 57px;
    width: 100%;
  }
  .additional__item-content {
    margin: 0;
  }
  .additional__subtitle {
    min-width: 200px;
    max-width: 325px;
    margin: 0;
  }
  .additional__description {
    margin: 0;
    min-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .additional__button {
    width: 244px;
    margin-left: auto;
  }
  .additional__content-and-gift {
    display: flex;
    flex-direction: row;
    gap: 54px;
  }
  .additional__gift {
    position: relative;
    min-width: 245px;
    width: 280px;
    height: auto;
    background-color: #68b738;
    box-sizing: border-box;
  }
  .additional__gift-cat {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-image-set(url("../img/catalog/gift/desktop-cat.png") 1x, url("../img/catalog/gift/desktop-cat@2x.png") 2x);
    background-image: image-set(url("../img/catalog/gift/desktop-cat.png") 1x, url("../img/catalog/gift/desktop-cat@2x.png") 2x);
    background-size: cover;
    opacity: 20%;
  }
  .additional__gift-content {
    width: 100%;
    margin: 0;
    padding-top: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .additional__gift-icon {
    display: inline-block;
    z-index: 5;
    width: 78px;
    height: 80px;
    margin-bottom: 48px;
  }
  .additional__gift-description {
    margin: 0;
    padding: 0;
    z-index: 5;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
  }
}
.client__wrapper {
  background-color: #ffffff;
  width: 100%;
}

.client__title {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}

.client__description {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #000000;
}

.client__form-label {
  white-space: nowrap;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
  align-self: center;
}

.client__form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 46px;
}

.client__form-group {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 280px;
  min-height: 45px;
}

.client__form-field {
  width: 100%;
}

.client__form-field::placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  padding-left: 20px;
}

.client__aim-description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.client__aim-group {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.client__aim-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.client__aim-item {
  display: flex;
  min-height: 30px;
  align-items: center;
}

@media (max-width: 767px) {
  .client__plus-aim-wrapper {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 27px 20px 19px 20px;
    margin-bottom: 26px;
    position: relative;
  }
  .client__plus-aim-wrapper::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #d9d9d9;
    margin: 0 auto;
    margin-top: -134px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .client__wrapper {
    background-color: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 71px;
  }
  .client__plus-aim-wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }
  .client__title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-top: 65px;
  }
  .client__description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
  }
  .client__form-label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }
  .client__aim-group {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .client__aim-list {
    width: 100%;
    margin: 0;
    padding: 25px 28px;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border: 1px solid #d9d9d9;
    position: relative;
  }
  .client__aim-list::before {
    content: "";
    display: none;
  }
}
@media (min-width: 1200px) {
  .client__plus-aim-wrapper {
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    max-width: 1440px;
  }
  .client__title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-top: 73px;
    margin-left: 0;
    margin-bottom: 56px;
  }
  .client__description {
    margin-left: 0;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 1.5;
  }
  .client__details {
    margin: 0;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }
  .client__form {
    width: 579px;
    margin: 0;
  }
  .client__aim-group {
    width: 579px;
    padding: 0;
    margin: 0;
  }
  .client__aim-list {
    padding: 25px 28px;
    width: 100%;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border: 1px solid #e7e7e7;
    position: relative;
  }
  .client__aim-list::before {
    display: none;
  }
}
.owner__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 24px;
}

.owner__title {
  padding: 0;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 35px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  white-space: nowrap;
  text-align: left;
  position: relative;
  overflow: hidden;
}
.owner__title::after {
  padding-left: 30px;
  content: "";
  position: relative;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  background-clip: content-box;
  border-bottom: 2px solid #68b738;
  width: 100%;
  top: -0.5em;
  left: 0.5em;
  margin: 0 50% 0 0;
}

.owner__title-wrapper {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  text-align: left;
}

.owner__form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.owner__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  margin-right: 10px;
  white-space: nowrap;
  align-self: center;
}

.owner__input {
  width: 100%;
}

.owner__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-left: 15px;
}

.owner__form-group {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 45px;
}

.owner__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .owner__wrapper {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 65px;
  }
  .owner__title {
    padding-left: 70px;
    margin-bottom: 76px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    position: relative;
    overflow: hidden;
  }
  .owner__title::after, .owner__title::before {
    padding-left: 30px;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background-clip: content-box;
    border-bottom: 2px solid #68b738;
  }
  .owner__title::before {
    position: absolute;
    left: -50%;
    top: 50%;
    right: 5em;
  }
  .owner__title::after {
    width: 100%;
    top: 0;
    left: 0.5em;
    margin: 0 50% 0 0;
  }
  .owner__title br {
    display: none;
  }
  .owner__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .owner__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .owner__label {
    margin-right: 20px;
    font-size: 20px;
    line-height: 1;
  }
  .owner__icon {
    right: 18px;
  }
}
@media (min-width: 1200px) {
  .owner__wrapper {
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 67px;
    max-width: 1440px;
  }
  .owner__title {
    margin: 0 auto;
    margin-bottom: 76px;
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .owner__title::before {
    position: absolute;
    left: -46%;
    top: 50%;
    right: 5em;
  }
  .owner__input {
    width: 100%;
  }
  .owner__form-group {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    min-width: 280px;
    max-width: 579px;
  }
  .owner__form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
  }
}
.comment__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 23px;
}

.comment__title {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 38px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  position: relative;
}
.comment__title::after {
  padding-left: 30px;
  content: "";
  position: relative;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  background-clip: content-box;
  border-bottom: 2px solid #68b738;
  width: 100%;
  left: 0.5em;
  margin: 0 50% 0 0;
}

.comment__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
}

.comment__textarea::placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
}

@media (min-width: 768px) {
  .comment__wrapper {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 65px;
  }
  .comment__title {
    margin: 0;
    padding-left: 70px;
    margin-bottom: 76px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
  }
  .comment__title::after, .comment__title::before {
    padding-left: 30px;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background-clip: content-box;
    border-bottom: 2px solid #68b738;
  }
  .comment__title::before {
    position: absolute;
    left: -50%;
    top: 50%;
    right: 5em;
  }
  .comment__title::after {
    width: 100%;
    left: 0.5em;
    margin: 0 50% 0 0;
  }
  .comment__textarea {
    min-height: 174px;
  }
  .comment__textarea::placeholder {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #444444;
  }
}
@media (min-width: 1200px) {
  .comment__wrapper {
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 67px;
    max-width: 1440px;
  }
  .comment__title {
    margin: 0 auto;
    margin-bottom: 76px;
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .comment__title::before {
    position: absolute;
    left: -46%;
    top: 50%;
    right: 5em;
  }
  .textarea {
    max-width: 1400px;
  }
}
.extra__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 32px;
  background-color: #ffffff;
}

.extra__title {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 34px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  position: relative;
}
.extra__title::after {
  padding-left: 30px;
  content: "";
  position: relative;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  background-clip: content-box;
  border-bottom: 2px solid #68b738;
  width: 100%;
  left: 0.5em;
  margin: 0 50% 0 0;
}

.extra__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.extra__item {
  display: flex;
  align-items: center;
  min-height: 30px;
  width: 100%;
}

.control__input {
  margin: 0;
  margin-right: 16px;
}

.control-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #000000;
}

.extra__button {
  margin-top: 22px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  justify-content: center;
  padding: 7px;
}

.extra__remark {
  margin: 0 auto;
  margin-top: 9px;
  padding: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (min-width: 768px) {
  .extra__wrapper {
    padding: 0;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 82px;
  }
  .extra__title {
    margin: 0;
    padding-left: 70px;
    margin-bottom: 76px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
  }
  .extra__title::after, .extra__title::before {
    padding-left: 30px;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background-clip: content-box;
    border-bottom: 2px solid #68b738;
  }
  .extra__title::before {
    position: absolute;
    left: -50%;
    top: 50%;
    right: 5em;
  }
  .extra__title::after {
    width: 100%;
    left: 0.5em;
    margin: 0 50% 0 0;
  }
  .extra__list {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    column-gap: 64px;
  }
  .extra__button {
    margin: 0;
    margin-top: 22px;
  }
  .extra__remark {
    text-align: start;
    margin: 0;
    margin-top: 22px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .extra__wrapper {
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 67px;
    max-width: 1440px;
  }
  .extra__title {
    margin: 0 auto;
    margin-bottom: 76px;
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .extra__title::before {
    position: absolute;
    left: -45%;
    top: 50%;
    right: 5em;
  }
  .extra__list {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .extra__item-button {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.products__item {
  max-width: 320px;
  padding: 12px 20px;
  width: 100%;
  box-sizing: border-box;
}

.products__show-more {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.products__show-more-content {
  display: flex;
  flex-direction: column;
}

.products__wrapper-content {
  margin-bottom: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products__image {
  align-self: center;
  justify-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.products__title {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #222222;
}

.products__description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.products__description-value {
  margin: 0;
  text-align: right;
}

.products__info {
  display: flex;
  justify-content: space-between;
}

.products__description-item {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}

.products__show-more-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.products__show-more-description {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #444444;
}

.products__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;
}

.products__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  margin-top: auto;
}

.products__show-all-button {
  color: #444444;
  background-color: #f2f2f2;
  width: 100%;
  margin-top: auto;
}

@media (max-width: 767px) {
  .products__item {
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .products__item::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #ebebeb;
    margin: 0 auto;
    margin-top: -20px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .products__wrapper-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products__wrapper-image {
    width: 100%;
    justify-items: center;
    margin-bottom: 34px;
    margin-top: -100px;
    min-height: 200px;
  }
  .products__image {
    display: block;
    margin: 0 auto;
  }
  .products-image-small {
    margin-top: 28px;
    width: 161px;
    height: 172px;
  }
  .products-image-large {
    width: 168px;
    height: 206px;
  }
  .products__wrapper-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products__item {
    margin: 0 auto;
    background-color: #f2f2f2;
    width: 324px;
    min-height: 430px;
    padding: 36px 39px;
    display: flex;
    flex-direction: column;
  }
  .products__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #222222;
    margin-bottom: 21px;
  }
  .products__show-more-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: #111111;
    margin-bottom: 23px;
  }
  .products__show-more-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
  }
  .products__description {
    width: 100%;
    gap: 14px;
  }
  .products__description-item {
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }
  .products__info {
    position: relative;
  }
  .products__info::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #cdcdcd;
    margin: 0 auto;
    margin-top: 23px;
    width: 100%;
  }
  .products__show-more {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    padding-top: 52px;
  }
  .products__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
}
@media (min-width: 1200px) {
  .products__item {
    margin: 0;
    width: 245px;
    min-height: 431px;
    background-color: #f2f2f2;
  }
  .products__wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products__title {
    line-height: 1.05;
  }
  .products__description {
    width: 100%;
    gap: 16px;
  }
  .products__info {
    position: relative;
  }
  .products__info::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #cdcdcd;
    margin: 0 auto;
    margin-top: 24px;
    width: 100%;
  }
  .products__description-item {
    line-height: 1;
  }
  .products__show-more {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    padding-top: 51px;
  }
}
.field::placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
}

.textarea {
  min-width: 280px;
  padding: 9px 15px;
}

.textarea::placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.control-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 42px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .socials__list {
    margin-bottom: 0;
  }
}
.copyright__author {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  align-self: center;
}

.copyright__link {
  margin-left: auto;
}

.copyright__logo {
  vertical-align: middle;
}

.copyright__link-academy {
  text-decoration: none;
  color: #444444;
}

.copyright__academy {
  display: none;
}

@media (min-width: 768px) {
  .copyright__author {
    margin-right: 23px;
  }
}
.main-nav {
  min-height: 65px;
  background-color: #ffffff;
}
.main-nav__toggle {
  display: block;
  width: 65px;
  height: 65px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
}
.main-nav__list {
  z-index: 2;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}
.main-nav__item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
.main-nav__link {
  display: block;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border-top: 0.5px solid #e6e6e6;
  border-bottom: 0.5px solid #e6e6e6;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 7px 0 0 #000000, 0 14px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.3), 0 14px 0 0 rgba(0, 0, 0, 0.3);
}

.main-nav--opened {
  top: 0;
  right: 0;
}
.main-nav--opened::before, .main-nav--opened::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 35px;
  right: 20px;
  width: 26px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened::before {
  transform: rotate(45deg);
  background-color: #000000;
}
.main-nav--opened::after {
  transform: rotate(-45deg);
}
.main-nav--opened:active::before, .main-nav--opened:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-header__logo-image {
    margin-left: 20px;
  }
  .main-nav__link {
    text-align: center;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: center;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
  .main-nav--nojs {
    margin-bottom: 200px;
  }
}
@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
    margin-left: 12px;
  }
  .main-nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    border: none;
  }
  .main-nav__wrapper {
    display: flex;
    justify-content: end;
    min-width: 470px;
    margin: 0 auto;
  }
  .main-nav__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 560px; /*  Сменить после добавления шрифтов  */
    background: none;
    border: none;
  }
  .main-nav__item {
    margin-right: 35px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__item--current {
    position: relative;
  }
  .main-nav__item--current::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    background: #68b738;
    margin-top: -10px;
  }
}
@media (min-width: 1200px) {
  .main-header__logo-text {
    display: none;
    margin-left: 12px;
  }
  .main-nav__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }
  .main-nav__wrapper {
    display: flex;
    justify-content: end;
    min-width: 500px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    width: 650px;
    display: flex;
    margin-right: -50px; /* декоративный стиль, нужно будет убрать после добавления шрифтов */
  }
  .main-nav__item--current {
    position: relative;
  }
  .main-nav__item--current::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    background: #68b738;
    margin-top: -20px;
  }
}
/* Состояния ссылок/элементов */
.main-nav__item a:hover {
  opacity: 0.6;
}
.main-nav__item a:active {
  opacity: 0.3;
}

.main-nav__item--current a:hover {
  opacity: 1;
}
.main-nav__item--current a:active {
  opacity: 1;
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("/source/fonts/oswald/oswaldmedium.woff2") format("woff2"), url("/source/fonts/oswald/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("/source/fonts/oswald/oswaldregular.woff2") format("woff2"), url("/source/fonts/oswald/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("/source/fonts/lato/Lato-Regular.woff2") format("woff2"), url("/source/fonts/lato/Lato-Regular.woff") format("woff");
}
body {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
}

.visually-hidden {
  display: none;
}

.button {
  cursor: pointer;
  border: none;
}

a {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */