.additional__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}

.additional__item {
  margin: 0;
}

.additional__title {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
}

.additional__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional__subtitle {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.additional__description {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.additional__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  width: 100%;
  justify-content: center;
  min-height: 40px;
}

.additional__description-item {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #444444;
}

.additional__description-price {
  text-align: right;
}

.additional__content-and-gift {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.additional__gift {
  position: relative;
  width: 280px;
  height: 290px;
  background-color: #68b738;
  margin: 0 auto;
  box-sizing: border-box;
}

.additional__gift-cat {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: image-set(url("../img/catalog/gift/mobile-cat.png") 1x, url("../img/catalog/gift/mobile-cat@2x.png") 2x);
  background-size: cover;
  opacity: 20%;
}

.additional__gift-content {
  padding-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional__gift-icon {
  display: inline-block;
  z-index: 5;
  width: 78px;
  height: 80px;
  margin-bottom: 48px;
}

.additional__gift-description {
  margin: 0;
  padding: 0;
  z-index: 5;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}

@media (max-width: $mobile-width-only) {
  .additional__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      height: 1px;
      background: #cdcdcd;
      margin: 0 auto;
      margin-top: -13px;
      width: 100%;
    }
  }

  .additional__item:last-child {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      height: 1px;
      background: #cdcdcd;
      margin: 0 auto;
      margin-top: 19px;
      width: 100%;
    }
  }
}

@media (min-width: $tablet-width) {
  .additional__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 69px;
  }

  .additional__title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-align: left;
    color: #000000;
    margin-bottom: 80px;
  }

  .additional__subtitle {
    font-size: 20px;
    line-height: 1;
  }

  .additional__description-item {
    font-size: 16px;
    line-height: 1.25;
  }

  .additional__item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .additional__description {
    justify-content: right;
    align-items: center;
  }

  .additional__list {
    padding: 28px 38px;
    border: 1px solid #cdcdcd;
  }

  .additional__item:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      height: 1px;
      background: #cdcdcd;
      margin: 0 auto;
      margin-top: 17px;
      width: 100%;
    }
  }


  .additional__content-and-gift {
    display: flex;
    flex-direction: column;
    gap: 69px;
  }

  .additional__gift {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #68b738;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .additional__gift-cat {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: image-set(url("../img/catalog/gift/tablet-cat.png") 1x, url("../img/catalog/gift/tablet-cat@2x.png") 2x);
    background-size: cover;
    background-position: center 60%;
    opacity: 20%;
  }

  .additional__gift-content {
    width: 80%;
    margin-left: 77px;
    margin-top: 57px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-self: center;
  }

  .additional__gift-icon {
    display: inline-block;
    z-index: 5;
    width: 80px;
    height: 82px;
    margin-bottom: 0;
  }

  .additional__gift-description {
    margin: 0;
    padding: 0;
    z-index: 5;
    text-align: center;
    color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .additional__wrapper {
    padding: 0;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 86px;
    max-width: 1440px;
  }

  .additional__list {
    width: 100%;
    padding: 16px 0;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }

  .additional__item {
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .additional__item:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      height: 1px;
      background: #cdcdcd;
      margin: 0 auto;
      margin-top: 57px;
      width: 100%;
    }
  }

  .additional__item-content {
    margin: 0;
  }

  .additional__subtitle {
    min-width: 200px;
    max-width: 325px;
    margin: 0;
  }

  .additional__description {
    margin: 0;
    min-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .additional__button {
    width: 244px;
    margin-left: auto;
  }


  .additional__content-and-gift {
    display: flex;
    flex-direction: row;
    gap: 54px;
  }

  .additional__gift {
    position: relative;
    min-width: 245px;
    min-height: 289px;
    width: 280px;
    margin: auto;
    background-color: #68b738;
    box-sizing: border-box;
  }

  .additional__gift-cat {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: image-set(url("../img/catalog/gift/desktop-cat.png") 1x, url("../img/catalog/gift/desktop-cat@2x.png") 2x);
    background-size: cover;
    opacity: 20%;
  }

  .additional__gift-content {
    width: 100%;
    margin: 0;
    padding-top: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional__gift-icon {
    display: inline-block;
    z-index: 5;
    width: 78px;
    height: 80px;
    margin-bottom: 48px;
  }

  .additional__gift-description {
    margin: 0;
    padding: 0;
    z-index: 5;
    text-align: center;
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
  }
}
