.cat__wrapper {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
  box-sizing: border-box;
}

.cat__background {
  position: absolute;
  opacity: 30%;
  width: 100%;
  height: 100%;
  background-image: image-set(url("../img/main-page/promo/background-cat-mobile.webp") 1x, url("../img/main-page/promo/background-cat-mobile@2x.webp") 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: $mobile-width-only) {
  .cat__wrapper {
    margin-bottom: 138px;
  }
}

@media (min-width: $tablet-width) {
  .cat__wrapper {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .cat__wrapper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 700px;
    background-color: rgba(104, 183, 56, 0.85);
  }

  .cat__background {
    opacity: 50%;
    width: 100%;
    height: 700px;
    background-image: image-set(url("../img/main-page/promo/background-cat-desktop.webp") 1x, url("../img/main-page/promo/background-cat-desktop@2x.webp") 2x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}
