.comment__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 18px;
}

.comment__title {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
  white-space: nowrap;
  text-align: left;
  position: relative;
}

@media (min-width: $tablet-width) {
  .comment__wrapper {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 62px;
  }

  .comment__title {
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 76px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    margin-left: -9px;
  }
}

@media (min-width: $desktop-width) {
  .comment__wrapper {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 63px;
    max-width: 1220px;
  }

  .comment__title {
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    margin-bottom: 76px;
    margin-left: -8px;
    max-width: 1220px;
  }
}
