.example {
  position: relative;
  background-color: #eaeaea;
}

.example__wrapper {
  padding: 25px 20px;
}

.example__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__content-description {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style-type: none;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 32px;
}

.example__list-item {
  min-width: 124px;
  box-sizing: border-box;
}

.example__list-expenses {
  grid-column-start: 1;
  grid-column-end: 3;
}

.example__list-content {
  box-sizing: border-box;
  width: 124px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  position: relative;
  padding: 16px;
}

.example__list-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.example__list-text {
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  right: 0;
  width: max-content;
  max-width: 90%;
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444444;
}

.example__content-expenses {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.example__cat-slider {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  box-sizing: border-box;
}

.example__cat-slider-wrapper {
  display: flex;
  justify-content: center;
}

.example__cat-button {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  left: var(--slider-value, 50%);
  margin-left: -2px;
  border: 0;
  padding: 0;
  background-color: #666666;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;

  &:hover {
    background-color: #68b738;
    color: #68b738;
  }

  &:active {
    background-color: #5eaa2f;
    color: #5eaa2f;
  }
}

.example__cat-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

@media (max-width: $mobile-width-only) {
  .example__list-text {
    width: 78px;
  }
}

@media (min-width: $tablet-width) {
  .example__decoration-space {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
  }

  .example__wrapper {
    background-color: #ffffff;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 9px;
    margin-left: 11px;
    margin-bottom: 62px;
  }

  .example__content {
    margin-left: 11px;
  }

  .example__content-description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__list {
    grid-template-columns: 1fr 1fr 2fr;
    gap: 32px;
    justify-items: normal;
    margin-bottom: 110px;
  }

  .example__list-item {
    width: 162px;

    &:first-child {
      margin-right: 10px;
    }
  }

  .example__list-expenses {
    display: none;
  }

  .example__list-cost-info {
    display: block;
    width: auto;
    margin-top: 2px;
    margin-right: 11px;
  }

  .example__content-costs {
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 9px;
    white-space: nowrap;
  }

  .example__content-price {
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
  }

  .example__cat-slider-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
  }

  .example__cat-image {
    width: 560px;
    height: 512px;
  }

  .example__list-content {
    width: 162px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    text-align: center;
    position: relative;
    padding: 15px;
  }

  .example__list-title {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
  }

  .example__list-text {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    padding-left: 9px;
    padding-right: 9px;
    position: absolute;
    top: calc(100% - 6px);
    left: 0;
    right: 0;
    width: max-content;
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: #f2f2f2;
  }

  .example__wrapper {
    min-height: 437px;
    background-color: #f2f2f2;
    position: relative;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 0;
    max-width: 1440px;
    margin: 0 auto;
  }

  .example__content {
    width: 408px;
    min-height: 317px;
    margin-left: 0;
    margin-top: 1px;
  }

  .example__content-description {
    margin-bottom: 44px;
  }

  .example__title {
    margin: 0;
    margin-top: -160px;
    margin-bottom: 145px;
  }

  .example__list {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    gap: 0;
    row-gap: 63px;
  }

  .example__list-text {
    background-color: #f2f2f2;
  }

  .example__list-expenses {
    display: none;
  }


  .example__content-costs {
    text-align: left;
    margin-bottom: 0;
  }

  .example__content-price {
    display: none;
  }

  .example__list-price-only {
    display: block;
  }

  .example__content-value {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
  }

  .example__cat-slider-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -135px;
    padding-right: 110px;
  }

  .example__decoration-space {
    display: none;
  }
}
