.extra__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 32px;
  background-color: #ffffff;
  overflow-x: hidden;
}

.extra__title {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  margin-bottom: 34px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
  white-space: nowrap;
  text-align: left;
  position: relative;
}

.extra__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.extra__item {
  display: flex;
  align-items: center;
  min-height: 30px;
  width: 100%;
}

.extra__button {
  margin-top: 24px;
  width: 100%;
  min-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  justify-content: center;
  padding: 7px;
}

.extra__remark {
  margin: 0 auto;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .extra__wrapper {
    padding: 0;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 72px;
  }

  .extra__title {
    margin: 0;
    padding-left: 62px;
    margin-bottom: 60px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
  }

  .extra__list {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 42px;
    column-gap: 62px;
  }

  .extra__button {
    margin: 0;
    margin-top: 16px;
    min-height: 52px;

    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
  }

  .extra__remark {
    font-size: 16px;
    line-height: 1;
    text-align: start;
    margin: 0;
    margin-top: 10px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .extra__wrapper {
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 82px;
    max-width: 1220px;
  }

  .extra__title {
    margin: 0 auto;
    margin-bottom: 62px;
    margin-left: -8px;
    max-width: 1220px;
    padding-left: 110px;
    padding-right: 110px;

   /* &::before {
      position: absolute;
      left: -45%;
      top: 50%;
      right: 5em;
    }
    */
  }

  .extra__list {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
  }

  .extra__item {
    margin-right: 18px;
  }

  .extra__item.extra__item:nth-child(3n) {
    margin-left: 4px;
  }

  .extra__item.extra__item:nth-child(4n) {
    margin-left: 12px;
  }

  .extra__item-button {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 568px;
  }

  .extra__item-remark {
    vertical-align: middle;
    margin-left: 12px;
  }
}
