.goals__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.goals__weight-goals {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.goals__item {
  background-color: #f2f2f2;
  box-sizing: border-box;
  min-height: 266px;
}

.goals__item-title {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.goals__item-title-slim {
  margin-top: 21px;
  margin-left: 23px;
}

.goals__item-title-pro {
  margin-top: 24px;
  margin-left: 13px;
}

.goals__image {
  display: inline-block;
  box-sizing: border-box;
}

.goals__image-slim {
  margin-right: 19px;
  width: 50px;
  height: 53px;
}

.goals__image-pro {
  margin-right: 11px;
  width: 67px;
  height: 50px;
}

.goals__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
}

.goals__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 38px;
}

.goals__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 18px;

  &:active {
    opacity: 0.3;
  }
}

.goals__link:hover {
  svg {
    transform: scaleX(1.3);
  }
}


.goals__link-icon {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 12px;
}


.goals__link-catalog {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 4px 0;
  margin-right: 15px;
  white-space: nowrap;
}


@media (max-width: $mobile-width-only) {
  .goals__link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      height: 1px;
      background: #d9d9d9;
      margin: 0 auto;
      top: -15px;
      width: 100%;
    }
  }

  .goals__item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .goals__wrapper {
    margin: 0 auto;
    margin-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .goals__weight-goals {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    gap: 30px;
  }

  .goals__item {
    position: relative;
    min-height: 372px;
    padding: 77px 300px 53px 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .goals__item-title {
    margin-left: 0;
  }

  .goals__item-title-slim {
    margin-top: 0;
  }

  .goals__item-title-pro {
    margin-top: 2px;
  }

  .goals__image {
    display: block;
    margin: 0;
    padding: 0;
  }

  .goals__image-slim {
    position: absolute;
    transform: translateY(-50%);
    top: 49%;
    right: 9%;
    width: 200px;
    height: 211px;
  }

  .goals__image-pro {
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    right: 4%;
    width: 268px;
    height: 200px;
  }

  .goals__link {
    margin: 0;
    padding: 0;
  }

  .goals__link-catalog {
    margin-right: 25px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  .goals__description {
    max-width: 340px;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 49px;
    padding: 0;
  }

  .goals__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .goals__wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 1220px;
    margin-bottom: 74px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .goals__weight-goals {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }

  .goals__image-slim {
    position: static;
    transform: none;
    width: 100px;
    height: 106px;
    margin-right: 62px;
  }

  .goals__image-pro {
    position: static;
    transform: none;
    width: 134px;
    height: 100px;
    margin-right: 47px;
  }

  .goals__item {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    min-height: 372px;
    min-width: 570px;
    width: 100%;
    padding: 0;
  }

  .goals__item-title {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
    margin-right: 35px;
  }

  .goals__description {
    max-width: none;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 30px;
  }

  .goals__item-title-slim {
    margin-top: 41px;
    margin-left: 52px;
  }

  .goals__item-title-pro {
    margin-top: 47px;
    margin-left: 33px;
  }

  .goals__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }

  .goals__link {
    display: flex;
    align-items: center;
    margin-left: 52px;
    margin-bottom: 55px;
  }

  .goals__link-catalog {
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-right: 25px;
  }
}
