.location__wrapper {
  background-color: #ffffff;
}

.location__invite {
  padding: 20px;
  box-sizing: border-box;
}

.location__invite-list {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location__invite-item {
  width: 140px;
  min-height: 60px;
  text-align: left;
}

.location__invite-title {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.location__invite-contacts {
  padding: 0;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.location__map {
  width: 100%;
  height: 362px;
}

.location__map-embed {
  width: 100%;
  height: 100%;
}

.location__map-pin-image {
  position: absolute;
  left: 47.88%;
  right: 40.31%;
  top: 38.4%;
  bottom: 46.96%;
}

.location iframe {
  display: block;
  border: none;
}

@media (min-width: $tablet-width) {
  .location__invite {
    width: 100%;
    padding: 56px 70px;
  }

  .location__invite-list {
    max-width: none;
  }

  .location__invite-item {
    width: 170px;
  }

  .location__invite-title {
    font-size: 20px;
    line-height: 26px;
  }

  .location__invite-contacts {
    font-size: 16px;
  }

  .location__map {
    width: 100%;
    height: 400px;
    background-image: url("../img/main-page/location/map-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
  }

  .location__map-pin-image {
    width: 113px;
    height: 106px;
    position: absolute;
    left: 43.36%;
    right: 41.93%;
    top: 36.5%;
    bottom: 37%;
  }
}

@media (min-width: $desktop-width) {
  .location__wrapper {
    position: relative;
  }

  .location__invite {
    background-color: #ffffff;
    z-index: 2;
    padding: 56px 80px;
    width: 565px;
    min-height: 198px;
    position: absolute;
    left: 7.64%;
    right: 53.12%;
    top: 23.75%;
    bottom: 26.75%;
  }

  .location__map {
    width: 100%;
    height: 400px;
    background-image: url("../img/main-page/location/map-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
  }

  .location__map-pin-image {
    position: absolute;
    left: 63.06%;
    right: 29.1%;
    top: 32.75%;
    bottom: 40.75%;
  }
}
