.main-header {
  background-color: #ffffff;
  color: #ffffff;
  min-height: 65px;
}

.main-header__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-header__logo {
  align-self: center;
  justify-self: center;
  margin: 0;
  margin-top: -6px;
}

.main-header__logo-image {
  display: block;
  padding: 10px 20px;
}

.main-header__logo-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 23px;
}

@media (min-width: $tablet-width) {
  .main-header__logo-image {
    margin-top: -13px;
  }

  .main-nav__list {
    margin-top: 2px;
  }


  .main-header__logo {
    margin-top: 0;
  }

  .main-header__logo-text {
    margin-left: 12px;
  }

  .main-header__wrapper {
    padding-left: 11px;
    padding-right: 30px;
  }

  .main-header__logo-image-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 46px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .main-header__logo-image {
    padding: 0;
    margin: 0;
  }

  .main-header__logo-text {
    margin-left: 12px;
  }

  .main-header--index .main-nav__link {
    color: #ffffff;
  }

  .main-header--index .main-nav__item--current::after {
    background-color: #ffffff;
  }
}


/* Состояния ссылок/элементов */
@media (min-width: $desktop-width) {
  .main-header__logo {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}


