.owner__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 26px;
}

.owner__title-wrapper {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  text-align: left;
  min-height: 53px;
}

.owner__title {
  padding: 0;
  padding-left: 30px;
  margin: 0;
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
  white-space: nowrap;
  text-align: left;
  position: relative;
}

.owner__form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.owner__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  margin-right: 10px;
  white-space: nowrap;
  align-self: center;
}

.owner__input {
  width: 100%;
  border: 1px solid #cdcdcd;
  padding: 11px 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #222222;

  /* Input status */
  &:empty {
    outline: 1px solid #e7e7e7;
  }

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 1px solid #ff8282;
  }

  &:invalid:not(:placeholder-shown):hover,
  .field:invalid:not(:placeholder-shown):focus {
    outline: 2px solid #ff8282;
  }

  &:disabled {
    background-color: #e7e7e7;
    opacity: 0.65;
  }
}

.owner__input svg {
  &:active {
    fill: #68b738;
  }
}

.owner__input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
}


.owner__form-group {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 45px;
}

.owner__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: $tablet-width) {
  .owner__wrapper {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 69px;
  }

  .owner__title {
    padding-left: 61px;
    margin-bottom: 79px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    position: relative;
  }

  .owner__title br {
    display: none;
  }

  .owner__input {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 19px;
  }

  .owner__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .owner__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  .owner__label {
    margin-right: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .owner__icon {
    right: 18px;
  }
}

@media (min-width: $desktop-width) {
  .owner__wrapper {
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 70px;
    max-width: 1220px;
  }

  .owner__title {
    margin: 0 auto;
    margin-bottom: 81px;
    margin-left: -8px;
    max-width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .owner__input {
    width: 100%;
  }

  .owner__form-group {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    min-width: 280px;
    max-width: 100%;
  }

  .owner__form-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    justify-content: center;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
  }
}
