.promo__wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: relative;
}

.promo__title {
  z-index: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 25px;
}

.promo__slogan {
  z-index: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
}

.promo__button {
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 40px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__product {
  z-index: 1;
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 130px;
}

@media (max-width: $mobile-width-only) {
  .promo__button {
    justify-self: center;
    min-width: 280px;
  }

  .promo__wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  .promo__title {
    white-space: nowrap;
    position: absolute;
    top: -440px;
    left: 50%;
    transform: translateX(-50%);
  }

  .promo__slogan {
    margin-top: 124px;
    white-space: nowrap;
    position: absolute;
    top: -440px;
    left: 50%;
    transform: translateX(-50%);
  }

  .promo__product {
    position: absolute;
    z-index: 2;
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-top: -272px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .promo__title {
    z-index: 2;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    margin: 0;
    margin-left: 87px;
    margin-bottom: 41px;
    margin-top: 50px;
  }

  .promo__slogan {
    z-index: 2;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
    margin-left: 90px;
    margin-bottom: 50px;
  }

  .promo__product {
    position: absolute;
    width: 709px;
    height: 609px;
    margin-left: auto;
    margin-right: auto;
    top: 14%;
    left: 0;
    right: 0;
  }

  .promo__button {
    margin-left: 91px;
    margin-bottom: 526px;
    min-width: 244px;
    min-height: 54px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    padding-top: 0;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1440px;
  }

  .promo__title {
    margin-left: 160px;
    margin-top: 100px;
  }

  .promo__slogan {
    margin-left: 160px;
  }

  .promo__button {
    margin-left: 160px;
    margin-bottom: 168px;
  }

  .promo__product {
    position: absolute;
    width: 552px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    top: 24%;
    transform: translateY(-50%);
    left: 16%;
    right: 0;
  }
}
