.aim__wrapper {
  background-color: #FFFFFF;
}
.aim__description {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
