.assortment__wrapper {
  background-color: #ffffff;
  margin-bottom: 50px;
}

.assortment__title {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.assortment__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 19px;
}

@media (max-width: $mobile-width-only) {
  .assortment__wrapper {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .assortment__wrapper {
    padding: 30px;
  }

  .assortment__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-left: 0;
    margin-bottom: 163px;
  }

  .assortment__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 60px;
    row-gap: 141px;
  }
}

@media (min-width: $desktop-width) {
  .assortment__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
  }

  .assortment__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-template-columns: repeat(4, 245px);
    gap: 0;
    grid-row-gap: 144px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
