.client__wrapper {
  background-color: #ffffff;
  width: 100%;
}

.client__title {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}

.client__description {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #000000;
}

.client__form-label {
  white-space: nowrap;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
  align-self: center;
}

.client__form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 46px;
}

.client__form-group {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 280px;
  min-height: 45px;
}

.client__form-field {
  width: 100%;
}

.client__form-field::placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  padding-left: 20px;
}

.client__aim-description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.client__aim-group {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.client__aim-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.client__aim-item {
  display: flex;
  min-height: 30px;
  align-items: center;
}

@media (max-width: $mobile-width-only) {
  .client__plus-aim-wrapper {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 27px 20px 19px 20px;
    margin-bottom: 26px;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      height: 1px;
      background: #d9d9d9;
      margin: 0 auto;
      margin-top: -134px;
      width: 100%;
    }
  }
}


@media (min-width: $tablet-width) {
  .client__wrapper {
    background-color: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 71px;
  }

  .client__plus-aim-wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }

  .client__title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-top: 65px;
  }

  .client__description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
  }

  .client__form-label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }

  .client__aim-group {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .client__aim-list {
    width: 100%;
    margin: 0;
    padding: 25px 28px;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border: 1px solid #d9d9d9;

    position: relative;

    &::before {
      content: "";
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .client__plus-aim-wrapper {
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    max-width: 1440px;
  }

  .client__title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-top: 73px;
    margin-left: 0;
    margin-bottom: 56px;
  }

  .client__description {
    margin-left: 0;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 1.5;
  }

  .client__details {
    margin: 0;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }

  .client__form {
    width: 579px;
    margin: 0;
  }

  .client__aim-group {
    width: 579px;
    padding: 0;
    margin: 0;
  }

  .client__aim-list {
    padding: 25px 28px;
    width: 100%;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border: 1px solid #e7e7e7;

    position: relative;

    &::before {
      display: none;
    }
  }
}
