.client__wrapper {
  background-color: #ffffff;
  width: 100%;
}

.client__title {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}

.client__description {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #000000;
}

.client__form-label {
  white-space: nowrap;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
  align-self: center;
}

.client__form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 46px;
}

.client__form-group {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 280px;
  min-height: 45px;
}

.client__form-field {
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 11px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  align-items: center;
  text-transform: uppercase;
  color: #222222;
}

.client__form-field::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
}

.client__aim-description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #222222;
}

.client__aim-group {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.client__aim-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.client__aim-item {
  display: flex;
  min-height: 30px;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: $mobile-width-only) {
  .client__plus-aim-wrapper {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 27px 20px 19px 20px;
    margin-bottom: 26px;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      height: 1px;
      background: #d9d9d9;
      margin: 0 auto;
      margin-top: -134px;
      width: 100%;
    }
  }
}

@media (min-width: $tablet-width) {
  .client__wrapper {
    background-color: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 71px;
  }

  .client__plus-aim-wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }

  .client__title {
    font-size: 60px;
    line-height: 1;
    margin-top: 65px;
  }

  .client__description {
    font-size: 20px;
    line-height: 1.5;
  }

  .client__form-label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }

  .client__form-field {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  .client__form-field::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  .client__aim-group {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .client__aim-list {
    width: 100%;
    margin: 0;
    padding: 25px 28px;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border: 1px solid #d9d9d9;
    position: relative;

    &::before {
      content: "";
      display: none;
    }
  }

  .client__aim-item {
    min-height: 40px;
  }

  .client__aim-description {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .client__plus-aim-wrapper {
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    max-width: 1440px;
  }

  .client__title {
    margin-top: 73px;
    margin-left: 0;
    margin-bottom: 56px;
  }

  .client__description {
    margin-left: 0;
    margin-bottom: 66px;
  }

  .client__details {
    margin: 0;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .client__form {
    width: 100%;
    margin: 0;
    gap: 20px;
  }

  .client__aim-group {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .client__aim-list {
    padding: 25px 28px;
    width: 100%;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border: 1px solid #e7e7e7;

    position: relative;

    &::before {
      display: none;
    }
  }
}

// Это скрытый базовый чекбокс
.client__aim-input {
  appearance: none;
}

// Это лейбл, что содержит в себе скрытый чекбокс, текст и иконку чекбокса
.client__aim-label {
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding-left: 35px;
}

// Это чекбокс кастомный
.client__aim-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../img/form/radio-empty.svg");
  margin-left: -46px;
  margin-top: -3px;
  vertical-align: middle;
}

.client__aim-input:checked + .client__aim-mark {
  background: url("../img/form/radio-enabled.svg");
}

//hover
.client__aim-input:empty:hover + .client__aim-mark {
  background: url("../img/form/radio-empty-hover.svg");
}

.client__aim-input:checked:hover + .client__aim-mark {
  background: url("../img/form/radio-enabled-hover.svg");
}

//disabled
.client__aim-input:disabled + .client__aim-mark {
  background: url("../img/form/radio-empty.svg");
  opacity: 0.3;
}

.client__aim-input:checked:disabled.client__aim-mark {
  background: url("../img/form/radio-enabled.svg");
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .client__aim-label {
    padding-left: 60px;
    white-space: nowrap;
  }

  .client__aim-description {
    font-size: 20px;
    line-height: 30px;
  }

  .client__aim-mark {
    width: 40px;
    height: 40px;
    margin-left: -68px;
    margin-top: -5px;
  }
}
