.comment {
}
.comment__wrapper {
  background-color: #FFFFFF;
}
.comment__title {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.comment__textarea {
  width: 100%;
  min-height: 150px;
}


@media (min-width: $tablet-width) {
  .comment {
  }
  .comment__wrapper {
  }
  .comment__title {
    font-size: 36px;
    line-height: 36px;
  }
  .comment__textarea {
    min-height: 174px;
  }
  .textarea {
  }
}

@media (min-width: $desktop-width) {
  .comment {
  }
  .comment__wrapper {
  }
  .comment__title {
  }
  .comment__textarea {
  }
  .textarea {
  }
}
