.copyright__author {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  align-self: center;
}

.copyright__link {
  margin-left: auto;
}

.copyright__logo {
  vertical-align: middle;
}

.copyright__link-academy {
  text-decoration: none;
  color: #444444;
}

.copyright__academy {
  display: none;
}

@media (min-width: $tablet-width) {
  .copyright__author {
    margin-right: 23px;
  }
}
