.copyright__author {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  align-self: center;
}

.copyright__link {
  margin-left: auto;
  text-decoration: none;

  &:hover svg {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  vertical-align: middle;
  fill: #666666;
}

.copyright__link-academy {
  text-decoration: none;
  color: #444444;
}

.copyright__academy {
  display: none;
}

@media (min-width: $tablet-width) {
  .copyright__author {
    margin-right: 23px;
  }


  .copyright__link-academy {
    display: none;
  }

  .copyright__academy {
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #444444;
    display: inline-block;
    padding-right: 27px;
    text-decoration: none;
  }

  .copyright__link {
    display: flex;
    align-items: center;
  }
}
