.copyright {
}
.copyright__author {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  align-self: center;
}
.copyright__logo {
  margin-left: auto;
}
