.extra {
}
.extra__wrapper {
  background-color: #FFFFFF;
}
.extra__title {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.extra__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}
.extra__group {
}
.extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.extra__item {
}
.extra__item:last-child {
  margin-bottom: 34px;
}
.extra__label {
}
.extra__button {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #68B738;
}
.extra__wrapper-button-primary {
}
.extra__remark {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
