.gift__wrapper {
  background-color: #FFFFFF;
}
.gift__content{
  margin: 0 auto;
  width: 280px;
  height: 289px;
  padding-top: 59px;
  padding-bottom: 43px;
  box-sizing: border-box;
  background: rgba(104, 183, 56, 0.85);
  background-image: url("../img/catalog/gift/case.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.buy-all-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
}
.gift__description {
  margin: 0 auto;
  padding: 0;
  max-width: 161px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
