.main-header {
  background-color: #ffffff;
  color: #ffffff;
  min-height: 65px;
}

.main-header__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-header__logo {
  width: 65px;
  height: 65px;
}

.main-header__logo-image {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.main-header__logo-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 23px;
}

@media (min-width: $tablet-width) {
  .main-header__logo-text {
    margin-left: 12px;
  }

  .main-header__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-header__logo-image-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }

  .main-header__logo-text {
    margin-left: 12px;
  }
}


/* Состояния ссылок/элементов */
@media (min-width: $desktop-width) {
  .main-header__wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  .main-header__logo {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
