.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.main-footer__logo {
  margin-top: 19px;
  margin-bottom: 52px;
  display: flex;
  justify-content: center;
}

.main-footer__logo-image {
  margin: 0;
  padding: 0;
  display: block;
}

.main-footer__socials {
  margin: 0 auto;
}

.main-footer__copyright {
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 57px 30px;
  }

  .main-footer__wrapper {
    padding: 0;
    display: flex;
  }

  .main-footer__logo {
    margin: 0;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 57px 110px;
  }
}
