.owner {
}
.owner__wrapper {
  background-color: #FFFFFF;
}
.owner__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.owner__form {
}
.owner__form-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 45px;
}
.owner__form-group:not(:last-child) {
  margin-bottom: 14px;
}
.owner__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 10px;
  white-space: nowrap;
  align-self: center;
}
.owner__input {
  width: 100%;
}
.owner__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}


@media (min-width: $tablet-width) {
  .owner {
  }
  .owner__wrapper {
  }
  .owner__title {
    white-space: nowrap;
    font-size: 36px;
    line-height: 36px;
  }
  .owner__title br {
  display: none;
  }
  .owner__form {
  }
  .owner__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .owner__form-group {
  }
  .owner__label {
    margin-right: 20px;
    font-size: 20px;
    line-height: 30px;
  }
  .owner__input {
  }
}

@media (min-width: $desktop-width) {
  .owner {
  }
  .owner__wrapper {
  }
  .owner__title {
  }
  .owner__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .owner__form-group {
    min-width: 569px;
  }
  .owner__label {
  }
  .owner__input {
  }
}
