.owner__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 24px;
}

.owner__title-wrapper {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  text-align: left;
  min-height: 53px;
}

.owner__title {
  padding: 0;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
  white-space: nowrap;
  text-align: left;
  position: relative;

  &::after {
    padding-left: 30px;
    content: "";
    position: relative;
    display: inline-block;
    height: 2px;

    vertical-align: middle;
    background-clip: content-box;
    border-bottom: 2px solid #68b738;
    width: 100%;
    top: -0.5em;
    left: 0.5em;
    margin: 0 50% 0 0;
  }
}

.owner__form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.owner__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  margin-right: 10px;
  white-space: nowrap;
  align-self: center;
}

.owner__input {
  width: 100%;
  border: 1px solid #cdcdcd;
  padding: 11px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #222222;
}

.owner__input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
}


.owner__form-group {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 45px;
}

.owner__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: $tablet-width) {
  .owner__wrapper {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 65px;
  }

  .owner__title {
    padding-left: 70px;
    margin-bottom: 76px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    position: relative;

    &::after, {
      padding-left: 30px;
      content: "";
      position: relative;
      display: inline-block;
      width: 9999px;
      height: 2px;
      top: -4px;
      left: 0.5em;
      margin: 0 50% 0 0;
      vertical-align: middle;
      background-clip: content-box;
      border-bottom: 2px solid #68b738;
    }

    &::before {
      position: absolute;
      left: -50%;
      top: 50%;
      right: 5em;
    }
  }

  .owner__title br {
    display: none;
  }

  .owner__input {
    font-size: 20px;
    line-height: 30px;
  }

  .owner__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .owner__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .owner__label {
    margin-right: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .owner__icon {
    right: 18px;
  }
}

@media (min-width: $desktop-width) {
  .owner__wrapper {
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 67px;
    max-width: 1440px;
  }

  .owner__title {
    margin: 0 auto;
    margin-bottom: 76px;
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .owner__input {
    width: 100%;
  }

  .owner__form-group {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    min-width: 280px;
    max-width: 100%;
  }

  .owner__form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
  }
}
