.promo__wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: relative;
  margin-bottom: 20px;
}

.promo__cat-wrapper {
  position: relative;
  width: 100%;
  height: 320px;
  background-color: #68b738;
  box-sizing: border-box;
}

.promo__cat-background {
  position: absolute;
  opacity: 20%;
  width: 100%;
  height: 100%;
  background-image: image-set(url("../img/main-page/promo/background-cat-mobile.webp") 1x, url("../img/main-page/promo/background-cat-mobile@2x.webp") 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__title {
  z-index: 1;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 25px;
}

.promo__slogan {
  z-index: 1;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
}

.promo__button {
  z-index: 1;
  display: block;
  margin: 0 auto;
  padding: 7px 14px;
  min-height: 40px;
}

.promo__product {
  z-index: 1;
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 130px;
}

.promo__button-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: $mobile-width-only) {
  .promo__button {
    justify-self: center;
    min-width: 280px;
    max-width: 400px;
  }

  .promo__wrapper {
    position: relative;
  }

  .promo__title {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .promo__slogan {
    margin-top: 124px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .promo__product {
    position: absolute;
    z-index: 2;
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-top: -260px;
    left: 50%;
    transform: translateX(-50%);
  }

  .promo__cat-wrapper {
    margin-bottom: 138px;
  }
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .promo__cat-wrapper {
    display: none;
  }

  .promo__title {
    z-index: 2;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    margin: 0;
    margin-left: 87px;
    margin-bottom: 41px;
    margin-top: 64px;
  }

  .promo__slogan {
    z-index: 2;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
    margin-left: 87px;
    margin-bottom: 50px;
  }

  .promo__product {
    position: absolute;
    width: 709px;
    height: 609px;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    left: 0;
    right: 0;
  }

  .promo__button {
    margin-left: 87px;
    margin-bottom: 500px;
    min-width: 244px;
    max-width: 350px;
    padding: 14px 26px;
    min-height: 54px;
  }

  .promo__button-text {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    padding-top: 0;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1440px;
  }

  .promo__title {
    margin-left: 160px;
    margin-top: 111px;
  }

  .promo__slogan {
    margin-left: 160px;
  }

  .promo__button {
    margin-left: 160px;
    margin-bottom: 180px;
  }

  .promo__product {
    position: absolute;
    width: 552px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    top: 27%;
    transform: translateY(-50%);
    left: 16%;
    right: 0;
  }

  .promo__cat-wrapper {
    display: block;
    position: absolute;
    top: -19%;
    right: 0;
    width: 720px;
    height: 700px;
    background-color: rgba(104, 183, 56, 0.85);
  }

  .promo__cat-background {
    opacity: 50%;
    width: 720px;
    height: 700px;
    background-image: image-set(url("../img/main-page/promo/background-cat-desktop.webp") 1x, url("../img/main-page/promo/background-cat-desktop@2x.webp") 2x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}
