.promo {
}
.promo__wrapper {
  background:#FFFFFF;
}
.promo__background {
}
.promo__header {
}
.promo__title {
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
padding: 0;
margin: 0;
margin-bottom: 25px;
}
.promo__slogan {
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
text-transform: uppercase;
color: #FFFFFF;
padding: 0;
margin: 0;
margin-bottom: 302px;
}
.promo__button {
  display: block;
  margin: 0 auto;
}
.promo__button-text {
}
.promo__button-primary-text {
}
.button-text {
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
