.socials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.socials__item-icon {
  fill: #666666;
  width: 28px;
  height: 22px;
  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.34;
  }
}

@media (min-width: $tablet-width) {
  .socials__list {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0 auto;
  }
}
